# Gmaps Visualization

In [1]:
#%matplotlib notebook

In [1]:
#imports 
import json
import requests
import pandas as pd
import matplotlib as plt
import random
import pprint as pprint
import gmaps
import gmaps.datasets

In [61]:
# Remember to update the config file with your API key
from config import gkey

In [2]:
# cleaned data file to be saved
cleanData = "../data/cleanData/jp_clean_data.csv"
gMapJobPost = "../data/cleanViz/jp_total_job_posting.csv"
# path csv file location
pathCleanData ="../datacleanData/"

In [3]:
#calling the csv cleanData folder
cleansed_data_df = pd.read_csv(cleanData)
cleansed_data_df.head()

,job posting id,job title,date created,category,company name,city,state,country,lat,lng,latlng
0,1312805093,Physician: Family Physician Job Opening in Ups...,2019-10-25 12:38:41,Healthcare & Nursing Jobs,CompHealth,Clayton,New York,United States,44.239491,-76.085776,"44.239490999999994,-76.085776"
1,1312805901,Physician: Urology Need in Western Ohio with L...,2019-10-25 12:38:57,Healthcare & Nursing Jobs,CompHealth,Sunbury,Ohio,United States,40.305232,-82.824785,"40.305232000000004,-82.82478499999998"
2,1328241931,Physician: Internal Medicine Physician Job in ...,2019-11-06 20:28:13,Healthcare & Nursing Jobs,CompHealth,Cheshire,Connecticut,United States,41.508367,-72.910620,"41.508367,-72.91062"
3,1334502463,Physician: A Locums Otolaryngologist Is Wanted...,2019-11-11 22:10:17,Healthcare & Nursing Jobs,CompHealth,Marion,Illinois,United States,37.730605,-88.933126,"37.730605,-88.933126"
4,1312805719,"Physician: Hospitalist needed in Hartford, CT ...",2019-10-25 12:38:53,Healthcare & Nursing Jobs,CompHealth,Cromwell,Connecticut,United States,41.601859,-72.657316,"41.60185900000001,-72.65731600000002"

In [4]:
#Lowercase all column names 
cleansed_data_df.columns = map(str.lower, cleansed_data_df.columns)
cleansed_data_df.head()

,job posting id,job title,date created,category,company name,city,state,country,lat,lng,latlng
0,1312805093,Physician: Family Physician Job Opening in Ups...,2019-10-25 12:38:41,Healthcare & Nursing Jobs,CompHealth,Clayton,New York,United States,44.239491,-76.085776,"44.239490999999994,-76.085776"
1,1312805901,Physician: Urology Need in Western Ohio with L...,2019-10-25 12:38:57,Healthcare & Nursing Jobs,CompHealth,Sunbury,Ohio,United States,40.305232,-82.824785,"40.305232000000004,-82.82478499999998"
2,1328241931,Physician: Internal Medicine Physician Job in ...,2019-11-06 20:28:13,Healthcare & Nursing Jobs,CompHealth,Cheshire,Connecticut,United States,41.508367,-72.910620,"41.508367,-72.91062"
3,1334502463,Physician: A Locums Otolaryngologist Is Wanted...,2019-11-11 22:10:17,Healthcare & Nursing Jobs,CompHealth,Marion,Illinois,United States,37.730605,-88.933126,"37.730605,-88.933126"
4,1312805719,"Physician: Hospitalist needed in Hartford, CT ...",2019-10-25 12:38:53,Healthcare & Nursing Jobs,CompHealth,Cromwell,Connecticut,United States,41.601859,-72.657316,"41.60185900000001,-72.65731600000002"

In [5]:
#Set job posting id as index
cleansed_data = cleansed_data_df.set_index('job posting id')
cleansed_data.head()

,job title,date created,category,company name,city,state,country,lat,lng,latlng
job posting id,,,,,,,,,,
1312805093,Physician: Family Physician Job Opening in Ups...,2019-10-25 12:38:41,Healthcare & Nursing Jobs,CompHealth,Clayton,New York,United States,44.239491,-76.085776,"44.239490999999994,-76.085776"
1312805901,Physician: Urology Need in Western Ohio with L...,2019-10-25 12:38:57,Healthcare & Nursing Jobs,CompHealth,Sunbury,Ohio,United States,40.305232,-82.824785,"40.305232000000004,-82.82478499999998"
1328241931,Physician: Internal Medicine Physician Job in ...,2019-11-06 20:28:13,Healthcare & Nursing Jobs,CompHealth,Cheshire,Connecticut,United States,41.508367,-72.910620,"41.508367,-72.91062"
1334502463,Physician: A Locums Otolaryngologist Is Wanted...,2019-11-11 22:10:17,Healthcare & Nursing Jobs,CompHealth,Marion,Illinois,United States,37.730605,-88.933126,"37.730605,-88.933126"
1312805719,"Physician: Hospitalist needed in Hartford, CT ...",2019-10-25 12:38:53,Healthcare & Nursing Jobs,CompHealth,Cromwell,Connecticut,United States,41.601859,-72.657316,"41.60185900000001,-72.65731600000002"

### Calling Gmaps API and  Key

In [67]:
#Calling Gmaps key
gmaps.configure(api_key= gkey) # Fill in with your API key
cleansed_data_copy = cleansed_data.copy()

### Gmaps: All Job Postings in US

In [6]:
cleansed_data_copy = cleansed_data.copy()
#Gmaps testing
locations = cleansed_data_copy[['lat', 'lng']]
fig = gmaps.figure(map_type='TERRAIN')



locations_layer = gmaps.symbol_layer(
    locations, fill_color='blue', stroke_color='blue', scale=1)
fig = gmaps.figure()
fig.add_layer(locations_layer)
fig

Figure(layout=FigureLayout(height='420px'))

## Job posting within the top state

#### Finding the most job postings within a state

In [9]:
#cleansed_data_copy[cleansed_data_copy.country == 'United States']

top_state = cleansed_data_copy.groupby(['state'])
top_state = top_state['job title']
top_state = top_state.count().idxmax()

top_state

'Illinois'

#### filter the data frame using the top state variable and get the lat and long for total job posting there

In [10]:
tope_state_data = cleansed_data_copy[cleansed_data_copy.state == top_state]
tope_state_data.head(3)

,job title,date created,category,company name,city,state,country,lat,lng,latlng
job posting id,,,,,,,,,,
1334502463,Physician: A Locums Otolaryngologist Is Wanted...,2019-11-11 22:10:17,Healthcare & Nursing Jobs,CompHealth,Marion,Illinois,United States,37.730605,-88.933126,"37.730605,-88.933126"
1312809651,Physician: An Orthopedic Surgeon Is Required f...,2019-10-25 12:40:21,Healthcare & Nursing Jobs,CompHealth,Niantic,Illinois,United States,39.863792,-89.154830,"39.863792,-89.15483"
1339395641,Physician: Locums Geriatric Medicine Physician...,2019-11-15 06:42:06,Healthcare & Nursing Jobs,CompHealth,Rockford,Illinois,United States,42.331667,-89.151548,"42.331666999999996,-89.15154799999998"

### Gmaps: Top state job postings

In [11]:
#Gmaps testing
locations = tope_state_data[['lat', 'lng']]
fig = gmaps.figure(map_type='TERRAIN')



locations_layer = gmaps.symbol_layer(
    locations, fill_color='blue', stroke_color='blue', scale=1)
fig = gmaps.figure()
fig.add_layer(locations_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Different Color by Category

In [8]:
#Geting unique values
cat_unique = cleansed_data_copy['category'].unique()
cat_unique

array(['Healthcare & Nursing Jobs', 'Other/General Jobs',
       'Customer Services Jobs', 'Sales Jobs', 'Retail Jobs',
       'Logistics & Warehouse Jobs', 'Accounting & Finance Jobs'],
      dtype=object)

In [9]:
for i in range(len(cat_unique)):
    print(cat_unique[i])

Healthcare & Nursing Jobs
Other/General Jobs
Customer Services Jobs
Sales Jobs
Retail Jobs
Logistics & Warehouse Jobs
Accounting & Finance Jobs

### Gmaps: Total job postings per category

In [12]:
#Creating for loop to itterate over the gmaps to create multiple layers
j = -1
for i in range(len(cat_unique)):
    df = pd.DataFrame()
    df = cleansed_data_copy[cleansed_data_copy['category'] == cat_unique[i]]
    df = df[['lat', 'lng']]
    
    #if statement to append to a datafram variable
    if i != j:
        j = i
        globals()['df_%s' % i] = pd.DataFrame()
        globals()['df_%s' % i] = globals()['df_%s' % i].append(df)
        
#defining colors
colors  = ["red","green","blue","purple","yellow","white","black"]

#itterating over layer
for i in range(len(cat_unique)):
    color = random.choice(colors)
    globals()['df_layer%s' % i] = gmaps.symbol_layer(
    globals()['df_%s' % i], fill_color = str(color) ,stroke_color = str(color), scale=1)
    
fig = gmaps.figure()

for i in range(len(cat_unique)):
    fig.add_layer(globals()['df_layer%s' % i])
    
fig

Figure(layout=FigureLayout(height='420px'))